<% layout("layouts/boilerplate") %>

<link rel="stylesheet" href="style/error.css">

<div class="row d-flex justify-content-center">
    <div class="col-8">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Error encountered</h4>
            <p class="mb-0">404: page not found</p>
        </div>
    </div>
</div>